# Created by .ignore support plugin (hsz.mobi)
.git/*
*.swp
*.so
__pycache__
.DS_Store
*.egg-info
*.pyc

douzero_checkpoints
most_recent_model
eval_data.pkl
rlcards/results/*
dist/
output/
test/
.idea/

*.log
*.log.*
*.pth
*.pkl*
*.pyc*
*pdf*
*nnue*
*exe*
*__pycache__*
conf.json
rlcards/agents/deep_agent/DDPG/tensorboard/logs/events.out.tfevents.1689734627.BF-202208071235.17568.0.v2
rlcards/predict/pig/model_1/info.txt
*.png
*.jpg
*.gif
D:lq_rlcard\rlcards\predict\pig\model_1
rlcards/predict/pig/model_1
